.clickable {
  border: 1.1px solid black;
  background-color: #d8d9db;
  color: black;
  width: 50px;
  margin: -2px;
}

.clickable:hover {
  background-color: #ebebeb;
}

.clickable:last-child {
  background-color: orange;
  color: white;
}
.zeroKey {
  width: 150px;
}

.clear {
  color: black;
  width: 100px;
}

#display {
  font: monospace;
  color: white;
  width: 200px;
  background-color: black;
  text-align: right;
  margin: -2px;
}